:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen: hsl(224, 36%, 15%);
  --equal: hsl(6, 63%, 50%);
  --key-Dark-equal: hsl(6, 70%, 34%);
  --numbers-bg: hsl(30, 25%, 89%);
  --white-key-shadow: hsl(28, 16%, 65%);
  --del-key-bg: hsl(225, 21%, 49%);
  --del-key-shadow: hsl(221, 14%, 31%);
  --numsColor: hsl(221, 14%, 31%);
  --equal-text: white;
  --dr-text: white;
  --text: white;
  --a: rgb(116, 227, 127);
  --numbers-bg-onClick: white;
  --del-bg-onClick: #a2b3e1;
  --equal-bg-onClick: #f96c5b;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--main-background);
}

.calculator {
  margin: 50px auto;
  width: 400px;
  height: 500px;
  background-color: var(--main-background);
  position: relative;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.left h3 {
  margin: 0;
  color: var(--text);
  font-size: 35px;
}
.right {
  display: flex;
  align-items: start;
}
.right p {
  padding-top: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--text);
}
.right ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.right ul li {
  display: flex;
  flex-direction: column-reverse;
}
.right ul input {
  display: none;
}
.right ul li label {
  font-weight: 700;
  color: var(--text);
  margin: 0 6px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}
.right ul input:checked + label::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--equal);
  bottom: -10px;
  left: 0;
  transform: translate(2%, 10%);
}

.right ul li label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--toggle-background);
  bottom: -15px;
  left: 0;
  transform: translate(-25%, 0);
}
#screen-holder {
  width: 100%;
  height: 100px;
  background-color: var(--screen);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.btns-holder {
  width: 100%;
  height: 350px;
  background-color: var(--toggle-background);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-bottom: 0;
}
.reset {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}
.equal {
  font-size: 25px;
  color: var(--equal-text);
  position: relative;
  font-weight: 700;
  border: none;
  background-color: var(--equal);
  grid-column: 3 / 5;
  padding: 3px 0;
  border-radius: 6px;
  margin-bottom: -2px;
  overflow: hidden;
}
.btns-holder button.w {
  font-size: 32px;
  color: var(--numsColor);
  position: relative;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  margin-bottom: -2px;
  overflow: hidden;
  background-color: var(--numbers-bg);
}
.btns-holder button.w:hover {
  background-color: var(--numbers-bg-onClick);
}
.btns-holder button.w::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--white-key-shadow);
  bottom: 0px;
  left: 0;
}
.del,
.reset {
  font-size: 20px;
  color: var(--dr-text);
  position: relative;
  font-weight: 700;
  border: none;
  background-color: var(--del-key-bg);
  padding: 10px 0;
  margin-bottom: -2px;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 6px;
}
.btns-holder button.b:hover {
  background-color: var(--del-bg-onClick);
}
.btns-holder button.b::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--del-key-shadow);
  bottom: 0px;
  left: 0;
}
.btns-holder button.r::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--key-Dark-equal);
  bottom: 0px;
  left: 0;
}
.btns-holder button.r:hover {
  background-color: var(--equal-bg-onClick);
}
footer {
  height: 39px;
  text-align: center;
  color: var(--text);
}
footer a {
  text-decoration: none;
  color: var(--a);
}

@media (max-width: 576px) {
  .calculator {
    width: 300px;
  }
  #screen-holder {
    height: 150px;
  }
  .btns-holder {
    height: 330px;
  }
  .equal {
    padding: 10px 0;
  }
}
